<header>
  <nav>
    <button
      title="Home"
      type="button"
      routerLinkActive="active-page"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <ion-icon class="header-home__icon light" name="home-outline"></ion-icon>
      <p>Home</p>
    </button>
    <button
      title="Projects"
      type="button"
      routerLinkActive="active-page"
      routerLink="projects"
    >
      <ion-icon
        name="briefcase"
        class="header-briefcase__icon light"
      ></ion-icon>
      <p>Projects</p>
    </button>

    <button
      title="About"
      type="button"
      routerLinkActive="active-page"
      routerLink="about"
    >
      <ion-icon name="person" class="header-person__icon light"></ion-icon>
      <p>About</p>
    </button>
  </nav>
</header>
