<div class="detailed-introduction__container">
  <div class="main-detailed-info__box">
    <h1 class="main-title">more about me</h1>
    <h1 class="secondary-title">Hi again! I'm Luka Tsinaridze.</h1>
    <p class="secondary-title__p">As you know by now.</p>
    <article>
      <p>
        I find that <span class="article-part__green">coding</span> and
        instructing have a lot in common as they both involve a continuous
        learning process in which achieving the desired outcome is highly
        rewarding. I am passionate about discovering new technologies and
        utilizing them to develop useful applications. The difficulties that
        come with coding have become a source of enjoyment for me, taking up a
        significant amount of my focus and attention.
      </p>
      <p>
        I've been fascinated with
        <span class="article-part__purple">design</span> for many years now. My
        passion has become conceptualizing ideas and bringing them to some kind
        of fruition.
      </p>
      <p>
        Also, I live and breathe
        <span class="article-part__orange">music</span>. Any time of the day,
        you'll most probably find me with earbuds in my ears. I also have a
        great love for creating music, although I am very much an amateur.
      </p>
      <p>
        As a <span class="article-part__blue">student</span>, I have had the
        pleasure of studying and interacting with many students, and it was an
        experience that taught me a lot about programming and design.
      </p>
    </article>
  </div>
</div>
