.detailed-introduction__container::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/src/img/more-bg.svg);
  background-size: cover;
  filter: brightness(var(--bg-skills__brightness));
}
.detailed-introduction__container {
  position: relative;
  padding: 9.6rem 0;
  text-align: center;
}
.secondary-title {
  margin-top: 1rem;
  font-size: 2.4rem;
  color: var(--text-color);
}
.secondary-title__p {
  margin-top: 0.5rem;
  color: var(--projects-text__color);
  font-size: 1.4rem;
}
.main-detailed-info__box article {
  max-width: 600px;
  margin: 0 auto;
  color: var(--projects-text__color);
  font-size: 1.7rem;
  margin-top: 3rem;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.article-part__green {
  color: rgb(13 148 136);
}
.article-part__purple {
  color: rgb(168 85 247);
}
.article-part__orange {
  color: rgb(217 119 6);
}
.article-part__blue {
  color: rgb(59 130 246);
}
article {
  padding-bottom: 4rem;
}
label {
  text-align: start;
  padding-bottom: 0.2rem;
}
form {
  padding: 2rem 2rem 0 2rem;
}
input {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.2rem;
}

textarea {
  border: none;
  border-radius: 0.2rem;
}
form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 35rem;
}
button {
  border: none;
  font-size: 2rem;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid #d4d4d8;
  display: flex;
  margin: 2rem auto 0;
  gap: 0.5rem;
  align-items: center;
  transition: all 0.3s;
}
button:hover {
  background-color: #d4d4d8;
  gap: 1rem;
}
/* queries */
@media (max-width: 44.375em) {
  .detailed-introduction__container {
    padding: 6.4rem 0;
  }
}
@media (max-width: 23.75em) {
  .main-title.footer {
    font-size: 1.5rem;
  }
}
