<div class="main-info__box">
  <article class="hero-card">
    <div class="hero-text__box">
      <h1 class="hero-text__heading">👋 Hey there! I'm <span>Luka</span>.</h1>
      <p class="hero-text__paragraph">
        A highly proficient front-end developer with expertise in web design and
        user experience.
      </p>
    </div>
    <img src="assets/images/heroLaptop.jpg" alt="image of laptop" />
    <app-sociallinks></app-sociallinks>
  </article>
  <div class="main-btn__box">
    <a class="main-link__rainbow" routerLink="projects" title="projects button"
      >Projects</a
    >
    <a
      class="main-link__normal"
      title="resume page"
      rel="noopener"
      target="_blank"
      href="https://drive.google.com/file/d/1NPvpYiySRUOjrw3U9ku2hRTpoIkYOSA0/view?usp=share_link"
      >Resume</a
    >
  </div>
</div>
