.container-projects {
  padding: 9.6rem 0;
}
.main-title__p {
  text-align: center;
  font-family: Indie Flower, cursive;
  font-size: 1.8rem;
  color: var(--projects-text__color);
  margin-top: 1rem;
}
/* queries */
@media (max-width: 44.375em) {
  .container-projects {
    padding: 6.4rem 0;
  }
}
